NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCRddqt6PrFLeRPA_iHuAY1-PgJ51b5EPw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=neonbirerpofc.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=neonbirerpofc
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=neonbirerpofc.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=847246032373
NEXT_PUBLIC_FIREBASE_APP_ID=1:847246032373:web:27aabe9cdddf5ff0eb74bc
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KEV4YNJHQZ
